body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#counter, #tomato-counter {
    position: fixed;
    top: 30px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

#counter {
    right: 10px;
}

#tomato-counter {
    left: 10px;
}

#tomato-display {
    margin-bottom: 10px;
}

#tomato-counter input {
    width: 50px;
    margin: 0 5px;
    padding: 5px;
    font-size: 1em;
    text-align: center;
}

#start-tomato {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
}

#tomato-buttons {
    margin-top: 10px;
}

#tomato-buttons button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
}

.year-container {
    margin: 20px 0;
}

.year-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    gap: 5px;
    max-width: 800px;
    margin: 0 auto;
}

.day {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    font-size: 10px;
    color: #fff;
}

.past {
    background-color: black;
}

.future {
    background-color: white;
    border: 1px solid #ccc;
    color: black;
}
